#img1{
    width: 100%;
    
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.img2{
    width: 250px;
    height: 200px;
}
.container{
    text-align: center;
    
}
h3{
    font-size: 22px;
    
}
.meanu1{
    float: left;
    list-style: none;
    position: fixed;
    background: black;
    color: aliceblue;
    margin-top: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
}
.links{
    display:inline;
    padding-left: 35px;
    padding-right: 35px;
    font: 20px;
}